*.class
*.log
target/*
.bloop/*
.bsp/*
.metals/*
.vscode/*
null/*
.scalafix.conf
.scalafmt.conf
project/.bloop/*
project/project/*
project/target/*
project/metals.sbt
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
